body {
  font: caption;
  padding: 0% 5%;
}

#app-title {
  padding: 50px 0px 25px 0px;
  font-weight: bold;
  color: #000f80;
}

#readData {
  text-align: center;
  padding-top: 100px;
  font-size: 1.2rem;
}

.btn {
  background-color: #000f80;
  color: white;
  padding: 10px;
  height: auto;
  width: 100%;
}

.btn:hover {
  background-color: rgba(#000f80, 0.3);
  color: #000f80;
}

.order-item {
  background-color:white;
  background: none;
  padding: 0.5rem;
  margin: 0;
  cursor: pointer;
  font-size: 1rem;
}

.order-item:nth-child(even) {
  background: #f4f4ff;
}

.order-item:hover {
  background: #d8d8d8
}


.pegawai-item {
  background: none;
  padding: 0.5rem;
  margin: 0;
  cursor: pointer;
  font-size: 1rem;
}

.pegawai-item:nth-child(even) {
  background: #f4f4ff;
}

.pegawai-item:hover {
  background: #d8d8d8
}

.port-item {
  background: none;
  padding: 0.5rem;
  margin: 0;
  cursor: pointer;
  font-size: 1rem;
}

.port-item:nth-child(even) {
  background: #f4f4ff;
}

.port-item:hover {
  background: #d8d8d8
}

.avport-item {
  background: none;
  padding: 0.5rem;
  margin: 0;
  cursor: pointer;
  font-size: 1rem;
}

.list-pegawai {
  list-style: none;
}